.Blog {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 70px;
    height: 100%;
}

.left {
    background-image: url("../assets/left1.avif");
    height: 90vh;
    background-size: cover;
    background-position:bottom;
    width: 55%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left .top-text {
    position: relative;
    font-family: cursive;
    top: 30px;
    left: -20px;
    font-size: 40px;
    font-weight: 400;
    transform-origin: left top;
    transform: rotate(-30deg);
}


.bottom img{
    color: white;
}

.bottom-top{
    display: flex;
    gap: 10px;
    border: 1px solid ;
    width: 120px;
    padding: 2px 10px;
    border-radius: 10px;
    text-align: center;
}

.bottom p{
    font-size: 25px;
    font-weight: 400;
}
.right {
    height: 90vh;
    overflow: auto;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}

.right::-webkit-scrollbar {
    display: none;
}

.right h1 {
    font-size: 50px;
    font-weight: 600;
}

.right>p {
    color: grey;
    margin: 10px 0px;
}

.right .form {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
}

.form input {
    padding: 10px;
    width: 80%;
    border: 1px solid gray;
    outline: none;
    border-radius: 10px;
}

.form button {
    padding: 5px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px;
}

.load {
    padding: 5px 15px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.264);
    width: 120px;
    border-radius: 10px;
    margin: 10px auto;
}

.btn1 {
    position: fixed;
    bottom: 150px;
    right: 30px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    gap: 2px;
}

.btn2 {
    position: fixed;
    bottom: 100px;
    right: 30px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    gap: 2px;
}

.btn1 p {
    color: black;
}

.btn2 p {
    color: black;
}