.card{
    margin-bottom: 15px;
}
.card img{
    object-fit: cover;
    object-position: center;
    padding: 10px;
    border-radius: 30px;
    width: 100%;
    height: 330px;
    margin-bottom: 10px;
}
.card h2{
    font-size: 17px;
    font-weight: 500;
    margin: 10px 0px;
}
.card p{
    color: grey;
}
.c1 .tag{
    padding: 5px 20px;
    color: orange;
    background-color: rgba(255, 166, 0, 0.214);
    border-radius: 10px;
    margin: 10px 0px;
}

.c2 .tag{
    padding: 5px 20px;
    color: rgb(98, 215, 98);
    background-color: rgba(0, 128, 0, 0.444);
    border-radius: 10px;
    margin: 10px 0px;
}
.c3 .tag{
    padding: 5px 20px;
    color: rgb(98, 215, 98);
    background-color: rgba(0, 128, 0, 0.444);
    border-radius: 10px;
    margin: 10px 0px;
}
.c4 .tag{
    padding: 5px 20px;
    color: skyblue;
    background-color: rgba(135, 207, 235, 0.344);
    border-radius: 10px;
    margin: 10px 0px;
}

.c3 img{
    object-position: bottom;
}
.c4 img{
    object-position: 10px -340px;
}