@import "tailwindcss";
body{
  color: black;
}
.about-section {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  height: 100vh;
  gap: 60px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.about-left {
  position: relative;
  width: 60%;
  background: #ff6a00;
  border-radius: 24px;
  height: 100%;
  overflow: hidden;
  min-height: 300px;
}

.about-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.tag {
  position: absolute;
  background: rgba(255, 255, 255, 0.85);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

.tag-web {
  top: 20%;
  left: 10%;
}

.tag-brand {
  top: 40%;
  right: 15%;
}

.tag-anim {
  bottom: 30%;
  left: 15%;
}

.tagline {
  position: absolute;
  width: 100%;
  bottom: 8%;
  left: 20%;
  color: white;
  font-size: 22px;
  max-width: 280px;
}


.about-nav {
  display: flex;
  justify-content: flex-end;
}

.about-nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.about-nav li {
  cursor: pointer;
  font-size: 14px;
  color: #666;
}

.about-nav .active {
  font-weight: 600;
  color: #000;
}

.about-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;   
}

.about-content {  
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;     
}

.about-content h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.about-content p {
  max-width: 480px;
  line-height: 1.7;
  margin-bottom: 16px;
}
.cta {
  font-weight: 600;
}

@media (max-width: 900px) {
  .about-section {
    flex-direction: column;
    padding: 40px;
  }

  .about-left,
  .about-right {
    width: 100%;
  }
}
